<div id="component-container">
  <div class="player" *ngFor="let player of players">
    <div class="player-name">
      <mat-form-field>      
        <mat-select placeholder="{{player.name}}">
            <mat-option *ngFor="let avaliablePlayer of availablePlayers" (click)="setPlayerName(player, $event.path[0].innerText)" [value]="player.name">
              {{ avaliablePlayer.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="player-score">
        <button mat-icon-button (click)="decrementScore(player)" class="increment-score">
            <mat-icon aria-label="Subtract 1 from score">remove</mat-icon>
        </button>        
        <mat-form-field>
          <input (keydown.enter)="adjustScore(player, $event)" matInput value="{{player.score}}">
        </mat-form-field>
        <button (click)="incrementScore(player)" mat-icon-button class="decrement-score">
          <mat-icon aria-label="Add 1 to score">add</mat-icon>    
        </button>
      </div>
  </div>
  <button (click)="addPlayer()"  mat-icon-button>
    <mat-icon aria-label="Add player">person_add</mat-icon>
  </button>
</div>
