<div id="component-container">
  <div class="player" *ngFor="let player of players">
    <div class="player-name">
      <mat-form-field>      
        <mat-select placeholder="{{player.name}}">
            <mat-option *ngFor="let avaliablePlayer of availablePlayers" (click)="setPlayerName(player, $event.path[0].innerText)" [value]="player.name">
              {{ avaliablePlayer.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="player-score">
        <button (click)="decrementScore(player)" mat-button class="increment-score">-</button>        
        <mat-form-field>
          <input (keydown.enter)="adjustScore(player, $event)" matInput value="{{player.score}}">
        </mat-form-field>
        <button (click)="incrementScore(player)" mat-button class="decrement-score">+</button>
      </div>
  </div>
  <button (click)="addPlayer()" mat-button>Add player</button>
</div>