<div id="component-container">
  <mat-card class="session">
    <h1>{{session.gameName}}</h1>
    <mat-card class="players" *ngFor="let player of sessionPlayers">
      <div class="player-content">
        <!-- {{player | json}} -->
        <h2 class="player-name">{{player.name}}</h2>
        <h1>{{player.score}}</h1>
        <app-score-adjust [player]="player" [sessionKey]="sessionKey"></app-score-adjust>
      </div>
    </mat-card>
  </mat-card>
  <!-- <pre>{{session | json}}</pre> -->
</div>

