#component-container {
    /* width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    background-color: blanchedalmond;
    border: 1px solid black;
    text-align: center; */
}

p {
    padding: 5px
}

.session {
    background-color: #2196F3;
}

.players {
    margin: 10px;
    background-color: #E3F2FD;
}

.player-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-name {
    margin: 20px;
}