#component-container {
    margin: 0 auto;
    padding: 10px;
    background-color: #2196F3;
    padding: 10px;
}

p {
    padding: 5px
}

mat-card {
    margin: 10px;
}

.players {
    /* margin: 10px; */
    background-color: #E3F2FD;
}

.player-content {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.player-name {
    margin: 20px;
}